$black: #04090C;
$white: #FBFBFB;

$almost-black: #072A34;
$really-dark-gray: #0f252f;
$dark-gray: #2D4049;
$medium-dark-gray:#4B5C63;
$medium-gray: #69777D;
$medium-light-gray: #A5ADB1;
$light-gray: #dedede;
$really-light-gray: #E2E2E2;
$almost-white: #F3F3F3;

$red: #F44336;
$yellow: #FFC107;
$blue: #152f51;
$orange: #F17D34;
$green: #48a781;